
body {
  background-color: #FAFAFA;
  font-family: sans-serif;
  padding: 20px;
}

table {
  padding: 5px;
}
thead td {
  text-align: center;
  font-size: small;
}
tr:hover {
  background-color: #f1f1f1;
}
td {
  padding: 5px 5px 8px 5px;
  border-bottom: 1px solid #d2d2d2;
}
